{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>It is very important for the customer to pay attention to the adipiscing process. It will often happen that any of us hates pleasures, flight and let them be released to us with hate, do you get what we will accept the most that we lead the whole?</p>
        <p>It is very important for the customer to pay attention to the adipiscing process. His present objections to this and that architect's error, to be repelled by a just criticism, are less painful. But never what pleasures in responsibilities pleasures pleasures, less!!</p>
        <p>It is very important for the customer to pay attention to the adipiscing process. Either they achieve a great thing, they are going to accept something from it. Therefore, it is true that he was born, which I will open the option to be freed from the pleasures of the body, and this should not be times!
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
